.banner {
  background-size: cover;
  background-position: center;
  padding: 200px 0;
  color: white;
  font-size: 2em;
  opacity: .7;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.banner-container {
  text-align: center;
}

.banner h1 {
  margin: 0;
}
